body{
    background-color: white;
}

.container{
    background-color: #04103a;
    width: 1000px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    color: white;
    font-size: 20px;
    line-height: 35px;
}

header{
display:flex;
}



img{
    width: 100px;
    display: block;
}

h1{background-color:#f9fef8;
color: #04103a;

    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
  font-size: 40px;
  }
  

legend, h2{
    text-align: center;
}