body{
    background-color: white;
}

.container{
    background-color: #04103a;
    width: 800px;
    padding: 40px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    color: white;
    font-size: 25px;
    line-height: 35px;
    
}

header{
display:flex;
background-color: #f9fef8;
box-shadow: 0 0 50px rgba(97, 57, 177, 0.08) ;
margin-top: 0;
}



img{
    width: 100px;
    display: block;
}

h1{background-color:#f9fef8;
color: #04103a;

    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
  font-size: 40px;
  }
  

legend, h2{
    text-align: center;
}







input{

    padding: 5px;
    border-radius: 5px;
    background-color: #f9fef8;
    width: 400px;
    display: block;
    line-height: 20px;
    align-content: center;
}
.radio{
display: inline;
    width: 30px;
}


select{
    padding: 5px;
    line-height: 20px;
    border-radius: 5px;
}
fieldset{padding: 20px;
margin-top: 25px;
border-radius: 5px;}

.subject{
    width: 400px;
}
#subjects{
    width: 180px;
    text-align: center;
}
select{
    text-align: center;
}
.submit-button{
    width: 150px;
    height: 7vh;
    font-size: 25px;
    padding: 10px 8px;
    display: block;
    justify-content: center;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #f9fef8;
    color: #04103a;
    border: 3px solid #04103a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
transition: all 200ms ease-in-out;
cursor: pointer;
}
.submit-button:hover{
    background-color: #04103a;
    border: 3px solid #f9fef8;
    color: #f9fef8;
    cursor: pointer;
}
footer{
  text-align: center;
  font-size: 20px;
  background-color: #f9fef8;
}